In [72]:
*********importing Dependencies********

SyntaxError: invalid syntax (3096478531.py, line 1)

In [47]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
print('Dependencies Imported')

Dependencies Imported

In [ ]:
**********upload the dataset**************

In [10]:
df = pd.read_csv('desktop/Coursera.csv')

In [11]:
df

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...
...,...,...,...,...,...,...,...
3517,"Capstone: Retrieving, Processing, and Visualiz...",University of Michigan,Beginner,4.6,https://www.coursera.org/learn/python-data-vis...,"In the capstone, students will build a series ...",Databases syntax analysis web Data Visuali...
3518,Patrick Henry: Forgotten Founder,University of Virginia,Intermediate,4.9,https://www.coursera.org/learn/henry,"�Give me liberty, or give me death:� Rememberi...",retirement Causality career history of the ...
3519,Business intelligence and data analytics: Gene...,Macquarie University,Advanced,4.6,https://www.coursera.org/learn/business-intell...,�Megatrends� heavily influence today�s organis...,analytics tableau software Business Intellig...
3520,Rigid Body Dynamics,Korea Advanced Institute of Science and Techno...,Beginner,4.6,https://www.coursera.org/learn/rigid-body-dyna...,"This course teaches dynamics, one of the basic...",Angular Mechanical Design fluid mechanics F...
3521,Architecting with Google Kubernetes Engine: Pr...,Google Cloud,Intermediate,4.7,https://www.coursera.org/learn/deploying-secur...,"In this course, ""Architecting with Google Kube...",bigtable bigquery SQL Google Cloud Platform...

In [ ]:
********basic data analysis********

In [12]:
df.shape

(3522, 7)

In [13]:
df.info

<bound method DataFrame.info of                                             Course Name  \
0     Write A Feature Length Screenplay For Film Or ...
1     Business Strategy: Business Model Canvas Analy...
2                         Silicon Thin Film Solar Cells
3                                  Finance for Managers
4          Retrieve Data using Single-Table SQL Queries
...                                                 ...
3517  Capstone: Retrieving, Processing, and Visualiz...
3518                   Patrick Henry: Forgotten Founder
3519  Business intelligence and data analytics: Gene...
3520                                Rigid Body Dynamics
3521  Architecting with Google Kubernetes Engine: Pr...

                                             University Difficulty Level  \
0                             Michigan State University         Beginner
1                              Coursera Project Network         Beginner
2                                   �cole Polytechnique         Advanced
3                                  IESE Business School     Intermediate
4                              Coursera Project Network         Beginner
...                                                 ...              ...
3517                             University of Michigan         Beginner
3518                             University of Virginia     Intermediate
3519                               Macquarie University         Advanced
3520  Korea Advanced Institute of Science and Techno...         Beginner
3521                                       Google Cloud     Intermediate

     Course Rating                                         Course URL  \
0              4.8  https://www.coursera.org/learn/write-a-feature...
1              4.8  https://www.coursera.org/learn/canvas-analysis...
2              4.1  https://www.coursera.org/learn/silicon-thin-fi...
3              4.8  https://www.coursera.org/learn/operational-fin...
4              4.6  https://www.coursera.org/learn/single-table-sq...
...            ...                                                ...
3517           4.6  https://www.coursera.org/learn/python-data-vis...
3518           4.9               https://www.coursera.org/learn/henry
3519           4.6  https://www.coursera.org/learn/business-intell...
3520           4.6  https://www.coursera.org/learn/rigid-body-dyna...
3521           4.7  https://www.coursera.org/learn/deploying-secur...

                                     Course Description  \
0     Write a Full Length Feature Film Script  In th...
1     By the end of this guided project, you will be...
2     This course consists of a general presentation...
3     When it comes to numbers, there is always more...
4     In this course you�ll learn how to effectively...
...                                                 ...
3517  In the capstone, students will build a series ...
3518  �Give me liberty, or give me death:� Rememberi...
3519  �Megatrends� heavily influence today�s organis...
3520  This course teaches dynamics, one of the basic...
3521  In this course, "Architecting with Google Kube...

                                                 Skills
0     Drama  Comedy  peering  screenwriting  film  D...
1     Finance  business plan  persona (user experien...
2     chemistry  physics  Solar Energy  film  lambda...
3     accounts receivable  dupont analysis  analysis...
4     Data Analysis  select (sql)  database manageme...
...                                                 ...
3517  Databases  syntax  analysis  web  Data Visuali...
3518  retirement  Causality  career  history of the ...
3519  analytics  tableau software  Business Intellig...
3520  Angular  Mechanical Design  fluid mechanics  F...
3521  bigtable  bigquery  SQL  Google Cloud Platform...

[3522 rows x 7 columns]>

In [14]:
df.isnull().sum()

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course URL            0
Course Description    0
Skills                0
dtype: int64

In [ ]:
********reuqired columns for the model******

In [15]:
df = df[['Course Name','Difficulty Level','Course Description','Skills']]

In [ ]:
******removing space between the words********

In [48]:
 df['Course Name'] = df['Course Name'].str.replace(' ',',')
df['Course Name'] = df['Course Name'].str.replace(',,',',')
df['Course Name'] = df['Course Name'].str.replace(':','')
df['Course Description'] = df['Course Description'].str.replace(' ',',')
df['Course Description'] = df['Course Description'].str.replace(',,',',')
df['Course Description'] = df['Course Description'].str.replace('_','')
df['Course Description'] = df['Course Description'].str.replace(':','')
df['Course Description'] = df['Course Description'].str.replace('(','')
df['Course Description'] = df['Course Description'].str.replace(')','')

/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/3498464820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Course Name'] = df['Course Name'].str.replace(' ',',')
/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/3498464820.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Course Name'] = df['Course Name'].str.replace(',,',',')
/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/3498464820.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Course Name'] = df['Course Name'].str.replace(':','')
/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/3498464820.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Course Description'] = df['Course Description'].str.replace(' ',',')
/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/3498464820.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Course Description'] = df['Course Description'].str.replace(',,',',')
/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/3498464820.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Course Description'] = df['Course Description'].str.replace('_','')
/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/3498464820.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Course Description'] = df['Course Description'].str.replace(':','')
/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/3498464820.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Course Description'] = df['Course Description'].str.replace('(','')
/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/3498464820.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Course Description'] = df['Course Description'].str.replace('(','')
/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/3498464820.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Course Description'] = df['Course Description'].str.replace(')','')
/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/3498464820.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Course Description'] = df['Course Description'].str.replace(')','')

In [ ]:
******** removing paranthesis from skills columns****

In [49]:
df['Skills'] = df['Skills'].str.replace('(',' ')
df['Skills'] = df['Skills'].str.replace(')',' ')

/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/1231907012.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Skills'] = df['Skills'].str.replace('(',' ')
/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/1231907012.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Skills'] = df['Skills'].str.replace('(',' ')
/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/1231907012.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Skills'] = df['Skills'].str.replace(')',' ')
/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/1231907012.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Skills'] = df['Skills'].str.replace(')',' ')

In [18]:
df.head

<bound method NDFrame.head of                                             Course Name Difficulty Level  \
0     Write A Feature Length Screenplay For Film Or ...         Beginner
1     Business Strategy: Business Model Canvas Analy...         Beginner
2                         Silicon Thin Film Solar Cells         Advanced
3                                  Finance for Managers     Intermediate
4          Retrieve Data using Single-Table SQL Queries         Beginner
...                                                 ...              ...
3517  Capstone: Retrieving, Processing, and Visualiz...         Beginner
3518                   Patrick Henry: Forgotten Founder     Intermediate
3519  Business intelligence and data analytics: Gene...         Advanced
3520                                Rigid Body Dynamics         Beginner
3521  Architecting with Google Kubernetes Engine: Pr...     Intermediate

                                     Course Description  \
0     Write a Full Length Feature Film Script  In th...
1     By the end of this guided project, you will be...
2     This course consists of a general presentation...
3     When it comes to numbers, there is always more...
4     In this course you�ll learn how to effectively...
...                                                 ...
3517  In the capstone, students will build a series ...
3518  �Give me liberty, or give me death:� Rememberi...
3519  �Megatrends� heavily influence today�s organis...
3520  This course teaches dynamics, one of the basic...
3521  In this course, "Architecting with Google Kube...

                                                 Skills
0     Drama  Comedy  peering  screenwriting  film  D...
1     Finance  business plan  persona  user experien...
2     chemistry  physics  Solar Energy  film  lambda...
3     accounts receivable  dupont analysis  analysis...
4     Data Analysis  select  sql   database manageme...
...                                                 ...
3517  Databases  syntax  analysis  web  Data Visuali...
3518  retirement  Causality  career  history of the ...
3519  analytics  tableau software  Business Intellig...
3520  Angular  Mechanical Design  fluid mechanics  F...
3521  bigtable  bigquery  SQL  Google Cloud Platform...

[3522 rows x 4 columns]>

In [ ]:
******merging all columns in a single column named tag****88

In [50]:
df['tags'] = df['Course Name'] + df['Difficulty Level'] + df['Course Description'] + df['Skills']

/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/2700227533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['Course Name'] + df['Difficulty Level'] + df['Course Description'] + df['Skills']

In [51]:
df.head(5)

,Course Name,Difficulty Level,Course Description,Skills,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...,"Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experien...,"Business,Strategy,Business,Model,Canvas,Analys..."
2,"Silicon,Thin,Film,Solar,Cells",Advanced,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...,"Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,"Finance,for,Managers",Intermediate,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...,"Finance,for,ManagersIntermediateWhen,it,comes,..."
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,"In,this,course,you�ll,learn,how,to,effectively...",Data Analysis select sql database manageme...,"Retrieve,Data,using,Single-Table,SQL,QueriesBe..."

In [52]:
df['tags'].iloc[1]

'Business,Strategy,Business,Model,Canvas,Analysis,with,MiroBeginnerBy,the,end,of,this,guided,project,you,will,be,fluent,in,identifying,and,creating,Business,Model,Canvas,solutions,based,on,previous,high-level,analyses,and,research,data.,This,will,enable,you,to,identify,and,map,the,elements,required,for,new,products,and,services.,Furthermore,it,is,essential,for,generating,positive,results,for,your,business,venture.,This,guided,project,is,designed,to,engage,and,harness,your,visionary,and,exploratory,abilities.,You,will,use,proven,models,in,strategy,and,product,development,with,the,Miro,platform,to,explore,and,analyse,your,business,propositions.,,We,will,practice,critically,examining,results,from,previous,analysis,and,research,results,in,deriving,the,values,for,each,of,the,business,model,sections.Finance  business plan  persona  user experience   business model canvas  Planning  Business  project  Product Development  presentation  Strategy business business-strategy'

In [ ]:
******* New Dataframe created which include Course****

In [53]:
new_df = df[['Course Name','tags']]

In [73]:
new_df.head(5)

,course_name,tags
0,Write A Feature Length Screenplay For Film Or ...,write a featur length screenplay for film or t...
1,Business Strategy Business Model Canvas Analys...,busi strategi busi model canva analysi with mi...
2,Silicon Thin Film Solar Cells,silicon thin film solar cellsadvancedthi cours...
3,Finance for Managers,financ for managersintermediatewhen it come to...
4,Retrieve Data using Single-Table SQL Queries,retriev data use single-t sql queriesbeginneri...

In [74]:
new_df['tags'] = df['tags'].str.replace(',',' ')

/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/829992559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = df['tags'].str.replace(',',' ')

In [56]:
new_df['Course Name'] = df['Course Name'].str.replace(',',' ')

/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/2775492574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Course Name'] = df['Course Name'].str.replace(',',' ')

In [57]:
new_df.rename(columns = {'Course Name':'course_name'}, inplace = True)

/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/2392020841.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns = {'Course Name':'course_name'}, inplace = True)

In [58]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower()) #lower casing the tags column

/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/1775456458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower()) #lower casing the tags column

In [59]:
new_df.head(5)

,course_name,tags
0,Write A Feature Length Screenplay For Film Or ...,write a feature length screenplay for film or ...
1,Business Strategy Business Model Canvas Analys...,business strategy business model canvas analys...
2,Silicon Thin Film Solar Cells,silicon thin film solar cellsadvancedthis cour...
3,Finance for Managers,finance for managersintermediatewhen it comes ...
4,Retrieve Data using Single-Table SQL Queries,retrieve data using single-table sql queriesbe...

In [60]:
from sklearn.feature_extraction.text import CountVectorizer

In [61]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [62]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [63]:
import nltk #for stemming process

In [33]:
pip install nltk

Requirement already satisfied: nltk in ./opt/miniconda3/lib/python3.9/site-packages (3.8.1)
Requirement already satisfied: joblib in ./opt/miniconda3/lib/python3.9/site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in ./opt/miniconda3/lib/python3.9/site-packages (from nltk) (2022.10.31)
Requirement already satisfied: tqdm in ./opt/miniconda3/lib/python3.9/site-packages (from nltk) (4.63.0)
Requirement already satisfied: click in ./opt/miniconda3/lib/python3.9/site-packages (from nltk) (8.1.3)
Note: you may need to restart the kernel to use updated packages.

In [64]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [65]:
#defining the stemming function
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [66]:
new_df['tags'] = new_df['tags'].apply(stem) #applying stemming on the tags column

/var/folders/1r/9h5fqfbj7f77l6k9sl83hzfm0000gn/T/ipykernel_2294/3854118612.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem) #applying stemming on the tags column

In [67]:
from sklearn.metrics.pairwise import cosine_similarity

In [68]:
similarity = cosine_similarity(vectors)

In [69]:
def recommend(course):
    course_index = new_df[new_df['course_name'] == course].index[0]
    distances = similarity[course_index]
    course_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:7]
    
    for i in course_list:
        print(new_df.iloc[i[0]].course_name)

In [70]:
recommend('Business Strategy Business Model Canvas Analysis with Miro')

Product Development Customer Persona Development with Miro
Product and Service Development Empathy Mapping with Miro
Product Development Customer Journey Mapping with Miro
Analyzing Macro-Environmental Factors Using Creately
Business Strategy in Practice (Project-centered Course)
Innovating with the Business Model Canvas

In [71]:
import pickle